@import "./fonts/fonts.css";

$light-background: #FFFFFF;
$dark-background: #202329;
$dark-texts: rgb(51, 51, 51);
$light-texts: rgb(158, 158, 158);
$orange-texts: rgb(255, 152, 0);
$card-title: rgb(245, 245, 245);
$card-background: rgb(51, 51, 51);
$card-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

html {
  background: $dark-background;
}
main {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}
.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $light-background;
}
.data-grid {
  background: $dark-background;
  width: 66%;
  display: grid;
  grid-template-columns: 325px 325px 325px;
  margin: 0 auto;
}

.data-card {
  border-radius: 15px;
  border: 1px silver solid;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

  .image-container {
    position: relative;
  }

  img {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }

}
.character-data {
  margin-bottom: 10px;
  background: $card-background;
}
.character-data-item {
  background: $card-background;
  color: $light-texts;
  padding: 10px;
  margin: 0 10px 10px 10px;
  border-bottom: 1px solid $light-texts;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}

.name-container {
  color: $light-texts;
  position: absolute;
  top: 245px;
  padding-left: 20px;
  background:#202329;
  opacity: .8;
  width: 300px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
.sub-title-container {
  margin: auto;
  width: 50%;
  transform: skewX(-20deg);
}
.sub-title {
  background: $dark-background;
  color: $orange-texts;
  margin-bottom: 25px;
}

.data-content {
  color: $orange-texts;
}